<div class="auth-form">
  <a mat-icon-button routerLink="/auth/forgot-password" class="back-button">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1>Restablecer Contraseña</h1>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form-content">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" readonly />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Código OTP</mat-label>
      <input
        matInput
        formControlName="otp"
        maxlength="6"
        placeholder="123456"
      />
      <mat-icon matPrefix>lock_clock</mat-icon>
      <mat-error *ngIf="resetForm.get('otp')?.errors?.['required']">
        El código OTP es requerido
      </mat-error>
      <mat-error *ngIf="resetForm.get('otp')?.errors?.['pattern']">
        El código debe tener 6 dígitos
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nueva Contraseña</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <mat-icon matPrefix>lock</mat-icon>
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="resetForm.get('password')?.errors?.['required']">
        La contraseña es requerida
      </mat-error>
      <mat-error *ngIf="resetForm.get('password')?.errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres
      </mat-error>
    </mat-form-field>
    <a
      class="resend-link"
      (click)="resendCode()"
      [class.disabled]="isResending"
    >
      {{ isResending ? "Reenviando código..." : "Reenviar código" }}
    </a>
    <div class="form-actions">
      <button
        mat-raised-button
        type="submit"
        [disabled]="!resetForm.valid || isLoading"
      >
        {{ isLoading ? "Restableciendo..." : "Continuar" }}
      </button>
    </div>
  </form>
</div>
