.selection-container {
  display: flex;
  height: 100%;
  gap: 24px;
  padding: 24px;
}

.left-panel {
  flex: 2;
  min-width: 0;
}

.right-panel {
  flex: 1;
  min-width: 300px;
}

mat-divider {
  margin: 0 24px;
}
