<!-- src/app/shared/sidebar/sidebar.component.html -->
<div class="sidebar" [class.collapsed]="isCollapsed">
  <mat-nav-list class="sidebar-nav">
    <ng-container *ngFor="let item of menuItems">
      <a mat-list-item *ngIf="!item.children" 
         [routerLink]="item.route" 
         routerLinkActive="active-link"
         class="sidebar-item">
        <mat-icon class="sidebar-icon">{{item.icon}}</mat-icon>
        <span class="sidebar-label">{{item.title}}</span>
      </a>
      
      <div *ngIf="item.children" class="sidebar-menu-group" 
           [class.active]="isMenuActive(item)">
        <div class="sidebar-item" (click)="toggleSubMenu(item)">
          <mat-icon class="sidebar-icon">{{item.icon}}</mat-icon>
          <span class="sidebar-label">{{item.title}}</span>
          <mat-icon class="expand-icon">
            {{item.expanded ? 'expand_less' : 'expand_more'}}
          </mat-icon>
        </div>
        
        <div class="submenu" [class.expanded]="item.expanded">
          <a mat-list-item *ngFor="let child of item.children" 
             [routerLink]="child.route" 
             routerLinkActive="active-link"
             class="submenu-item">
            <span class="sidebar-label">{{child.title}}</span>
          </a>
        </div>
      </div>
    </ng-container>
  </mat-nav-list>
</div>